---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import Recipe from "@/components/RecipeView";
import parseRecipe from "@/lib/RecipeParser";

export async function getStaticPaths() {
    const recipes = await getCollection("recipes");
    return recipes.map((recipe) => ({
        params: { slug: recipe.id },
        props: { recipe },
    }));
}

const recipes2 = Object.values(
    import.meta.glob("/recipes/*.md", { eager: true }),
);
---

<Layout>
    {recipes2.map((r) => <p>{r.url}</p>)}
    <Recipe recipe={parseRecipe(Astro.props.recipe.body)} />
</Layout>
