---
import RecipeCard from "@/components/RecipeCard";
import Layout from "@/layouts/Layout.astro";

import { getCollection } from "astro:content";

const allRecipes = await getCollection("recipes");
---

<Layout>
  <div class="flex flex-col gap-2 sm:gap-4 max-w-xl mx-auto">
    {allRecipes.map((recipe) => <RecipeCard data={recipe.data} />)}
  </div>
</Layout>
