---
import RecipeCard from "@/components/RecipeCard";
import MyRecipeCard from "@/components/MyRecipeCard";
import Layout from "@/layouts/Layout.astro";

import { getCollection } from "astro:content";

const allRecipes = await getCollection("recipes");

const recettes = await getCollection("recettes");
console.log(recettes);
---

<Layout>
    <div class="flex flex-col gap-2 sm:gap-4 max-w-xl mx-auto">
        {allRecipes.map((recipe) => <RecipeCard data={recipe.data} />)}
        {
            recettes.map((recipe) => (
                <MyRecipeCard client:only="react" data={recipe.body} />
            ))
        }
    </div>
</Layout>
