---
import Search from "astro-pagefind/components/Search";
import RecipeCard from "@/components/RecipeCard.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
const recipes = await getCollection("recipes");
---

<Layout>
  <div class="flex flex-col gap-2 sm:gap-4 max-w-xl mx-auto">
    <Search
      id="search"
      className="pagefind-ui"
      uiOptions={{ showImages: false }}
    />
    {recipes.map((recipe) => <RecipeCard recipe={recipe} />)}
  </div>
</Layout>
