---
import type { CollectionEntry } from "astro:content";

interface Props {
  recipe: CollectionEntry<"recipes">;
}

const { recipe } = Astro.props;
---

<a href={recipe.id} class="font-semibold text-xl">{recipe.data.title}</a>
